.DS_Store
*/.DS_Store
.env
.yarn/
*.tgz
auth_info*.json
baileys_auth_info*
baileys_store*.json
messages*.json
wa-logs*
node_modules
browser-messages.json
browser-token.json
decoded-ws.json
test.ts
TestData
coverage
output.csv
Proxy
